<div class="todo">
  <div class="todo_header">
    <h4>Список задач</h4>
  </div>

  <div class="todo_new-task">
    <input #newTodo type="text" placeholder="Введите текст задачи...">
    <button class="todo_new-task-button" (click)="createNewTask(newTodo.value)">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M24.5 12.25V14H14V24.5H12.25V14H1.75V12.25H12.25V1.75H14V12.25H24.5Z" fill="#CFCACA"/>
      </svg>
    </button>
  </div>

  <div cdkDropList class="todo_list" (cdkDropListDropped)="drop($event)">
    <app-todo-item cdkDrag
                   *ngFor="let todo of todos"
                   @todo
                   [todo]="todo"
                   (remove)="onRemove($event)"
                   (check)="onCheck($event)">
    </app-todo-item>
  </div>
</div>
